<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to new_article_path, class: 'btn btn-primary' do %>
      <%= fa_icon('plus') %>
    <% end %>

  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>標題</th>
      <th>內文</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>